
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');

/* Selector universal, todo el codigo esta centrado y con letra Staatliches */


*{
    font-family: 'Staatliches', cursive;
    justify-content: center;
    text-align: center;
    margin: 10px auto;
    box-sizing: border-box;
}

/* Contenedor de la cabecera de la pagina*/
.container-header {
    background: #252525;
    color: #ffffff;
    height: 75px;
    font-size: 30px;
}

/* Contenedor del contenido principal*/
.container-main{
    background-color: #ffffff;
}

.container-form {
    display:flex;
    margin: 30px auto;
    width: 720px;
    background-color: #EEC4C4;
    box-shadow: 0 0.45rem 1.45rem 0 #7c7b7b;
}

.container__payment-details {
    background: #ffffff;
    display: inline-flex;
    margin: 0px;
    height: 425px;
    width: 330px;
    color: #000000;
}

.imagen_compras {
    height: 210px;
    margin-top: 0px;
    margin-right: 20px;
}


.container__front-card {
    background-image: url("img/alpaCard.jpeg");
    border-radius: 15px;
    height: 180px;
    width: 300px;
    margin: 20px auto;
    padding: 25px;
}
.inpu {
    border:05   ;
    background: #ffffff;
    width: 200px;
    height: 30px;
    font-size: 20px;
    color: #000000;
    margin: 20px auto;
}
.inp {
    border:05;
    background: #ffffff;
    width: 100px;
    height: 30px;
    font-size: 20px;
}

ul.list-form li {
    color: #e95a5a;
    margin:  auto;
}

.container__back-card {
    background-image: url("img/backCard.jpeg");
    width: 300px;
    height: 180px;
    padding: 10px;
    border-radius: 15px;
    margin-top: 220px;
    margin-left: 330px;
    position:fixed;

}

.input_cvv {
display: inline;
border:05;
background: #ffffff;
width: 60px;
height: 30px;
margin-top: 72px;
margin-left: 60px;
font-size: 20px;
}
.container__front-card:hover,
.container__back-card:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #000000;
    transition: tranbsform 10ms;
    transform: scale(1.03);
}
ul {
    list-style:none;
}

/* Boton pagar*/
.btn_pagar {
    color: #000000;
    background: #ffffff;
    border-radius: 10px;
    font-size: 25px;
    margin: 30px;

}

.btn_pagar:hover {
    cursor: pointer;
    box-shadow: 0 0.4rem 1.4rem 0 #afa4a4;
    transition: tranbsform 100ms;
    transform: scale(1.03);
}



/* Contenedor del pie de pagina*/
.container-footer {
    background: #D1D9D9;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
}


ul.footer-items li {
    margin: 5px;
    display: inline;
    color: #000000;
}

